
    
    <style>
  
     </style>
    <div class="cols" >
      <div class="colA" style="background-color:white"> 
      
      <BR>  <BR>  <BR>  <BR>  <BR>
      Select hobbies:<BR><BR>
      <div class="button_slide slide_down" (click)="getProfileData('art1')"  >Music</div>
     
      <div class="button_slide slide_down" (click)="getProfileData('artn')">Movies </div>
      
     <div class="button_slide slide_down" (click)="getProfileData('artx')">Yoga </div>
     
      <div class="button_slide slide_down" (click)="getProfileData('artr')">glamour </div>
      <div class="button_slide slide_down">cars</div>
     
      <div class="button_slide slide_down">travel </div>
      
      <div class="button_slide slide_down">fashion </div>
     
      <div class="button_slide slide_down">nature </div>
      <br><br>
      <h3>BookMark User:</h3>
      {{username}}
      <select (change)="getSelectedValue($event)">
        <option value="Live">Select Tag</option>
       <option value="Live">Live</option>
       <option value="Friendly">Friendly</option>
       <option value="Best">Best</option>
      </select>
      <button (click)="BookMarkUser()">BookMark</button>
    <br><br>
      
      </div>
      
      <div class="colB" style={background:red}>
      <table datatable [dtOptions]="dtOptions" class="row-border hover" >
      <thead>
        <tr>
          <th>bookmark</th>
          <th>name</th>
        
          <th>species</th>
          <th>Occupation</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let post of posts" >
          <td><div class="dropdown" style="height:1px;width:10px;background-color:red"
            (click)="focusFunction(post.name )" 
             
            ><img width="20" height="20" src="https://static.vecteezy.com/system/resources/previews/000/646/905/original/vector-tools-icon-symbol-sign.jpg"> 
            <div class="dropdown-content" >
              
             {{Details}}
             
            
            </div>
          </div></td>
          <td> <a     target="_blank" href="{{ post.name }}"  > {{ post.name.substr(25) }} </a> </td>
          <td> <a   target="_blank" href="{{ post.species }}"  > {{ post.species.substr(25) }} </a> </td>
          <td> <a   target="_blank" href="{{ post.occupation }}"  > {{ post.occupation.substr(25) }} </a> </td>
        </tr>
      </tbody>
    </table>
      </div>
      
    </div>
    
